html {
    background-color: lightblue;
}
#number-box {
    height: 200px; 
    width: 250px;
    background-color: lightgreen;
}
#added-numbers {
    height: 200px;
    width: 250px;
    background-color: yellow;
}
#crystal1 {
    height: 100px; 
    width: 100px;
    background-color: blue;
    color: white;
}
#crystal2 {
    height: 100px; 
    width: 100px;
    background-color: lightcoral;
    color: white;
}
#crystal3 {
    height: 100px; 
    width: 100px;
    background-color: lightseagreen;
    color: white;
}
#crystal4 {
    height: 100px; 
    width: 100px;
    background-color: gray;
    color: white;
}
