html {
    background-color: black;
    font-family: 'Cantarell', sans-serif;
}
#container {
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2.5%;
    text-align: center;
}
#number-box {
    margin-top: 5%;
    color: #00ff0c;
    font-size: 30px;
}
#added-numbers {
    margin-top: 5%;
    color: yellow;
    font-size: 30px;
}
.crystal {
    height: 150px; 
    width: 150px;
}

.crystal:hover {
    cursor: pointer;
}

.crystal-info {
    width: 100px;
    height: 20px;
    position: absolute;
    background-color: black;
    color: #00ff0c;
    z-index: 1;
    display: none;
}
#crystal1-info {
    margin-left: 28px;
}
#crystal2-info {
    margin-left: 28px;
}
#crystal3-info {
    margin-left: 28px;
}
#crystal4-info {
    margin-left: 28px;
}
#flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}
#crystal5 {
    display: none;
    margin-left: 34%;
    height: 200px;
    width: 200px;
    padding-right: 50px;
}
#info {
    color: white;
    width: 600px;
    line-height: 1.5;
    margin-left: auto;
    margin-right: auto;
}
#win-loss {
    width: 200px;
    color: rgb(247, 0, 255);
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}
#loss-count {
    color: #ff0000;
}
#win-count {
    color: #00ff0c;
}